.macbook-air
  %img{src: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/10922/macbookair.svg"}
  
  .screen-hidden
    %span Hola. Me llamo Andy.
    %span New line
    %span omg, another new line!
    %span.links
      %a.active{href: "#"} Link One
      %a{href: "#"} Link Two
      %a{href: "#"} Link Tree
  
  .screen
    %span.content
    %span.cursor